<div class="container-fluid body-h">

    <nav class="navbar  navbar-expand-lg navbar-light bg-light my-nav" >
        <a class="navbar-brand mb-0 h1 logo" href="#"><span id="logo2">POST</span><span id="logo1">QUOTES</span></a>
       
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav ms-auto ">
            <li class="nav-item active">
              <a class="nav-link" href="#form">Create-quotes </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#quotes">Quotes</a>
            </li>
                       
          </ul>
        </div>
    </nav>

    <h3  style="text-align:left">CREATE & POST YOUR QUOTES </h3><br>
    <app-quote></app-quote>
    <router-outlet></router-outlet>
</div>